<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Welcome to {{ globalApplicationName }}!</title>
</head>
<body>
    Hello! Thanks for registration. Confirm your email please:<br>
    <a href="{{ appFrontendUrl }}/confirmEmail/{{ token }}">Confirm Email</a><br>
    or you can copy url manually:<br>
    {{ appFrontendUrl }}/confirmEmail/{{ token }}<br>
    <br>
    <br>
    From <a href="{{ appFrontendUrl }}">{{ globalApplicationName }}</a> team.
</body>
</html>
