<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Password recovering on {{ globalApplicationName }}</title>
</head>
<body>
    Hello! You can change your password:<br>
    <a href="{{ appFrontendUrl }}/recoverPassword/{{ token }}">Recover Password</a><br>
    or you can copy url manually:<br>
    {{ appFrontendUrl }}/recoverPassword/{{ token }}<br>
    <br>
    <br>
    From <a href="{{ appFrontendUrl }}">{{ globalApplicationName }}</a> team.
</body>
</html>
